.modal-backdrop {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0; 
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility ;
    transition-duration: 0.3s ;
}
.modal-container {
    position: relative;
    background: #fff;
    width: min(500px, 90%);
    border-radius: 10px;
    padding: 30px 30px 0px 30px;
    transform: scale(0);
    transition: transform 0.3s;

}

.modal-footer {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-close { 
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ededed;
    color: #666;
    font-size: 1.5rem;
}
.modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-backdrop.show {
    opacity: 1;
    visibility: visible;
}

.modal-backdrop.show .modal-container {
    transform: scale(1);
}

.no-scroll {
    overflow: hidden;
}